.container {
  position: relative;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  overflow: hidden;

  .group-detail {
    position: absolute;
    top: 66px;
    height: 0;
    width: 100%;
    background-color: #aaa;
    // opacity: 0.6;
    transition: all 0.3s;
    z-index: 9;
    overflow-y: scroll;
    overflow-x: hidden;

    &.show {
      height: calc(100% - 66px);
    }

    .user-box {
      display: inline-block;
      width: 25%;

      .user-item {
        margin-top: 10px;
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .head-box {
          position: relative;
          height: 50px;
          width: 50px;
          background-color: #fff;
          border-radius: 50%;
          img {
            height: 50px;
            width: 50px;
          }

          .dot {
            position: absolute;
            right: 0;
            top: 0;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background-color: #f40;
            &.onLine{
              background-color: #2196f3;
            }
          }
        }

        span {
          font-size: 18px;
          color: #fff;
        }
      }
    }

  }
}

.site-page-header {
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0.02rem 0.04rem rgba(0, 0, 0, .1);
  height: 66px;
  .pull-icon {
    margin-left: 0.04rem;
    color: #2196f3;
    transition: all 0.3s;

    &.roll {
      transform: rotate(180deg);
    }
  }
}

.chat-content {
  // flex-grow: 1;
  // flex-shrink: 0;
  height: calc(100% - 132px);
  overflow-y: scroll;
  background-color: #eee;
}

.input-content {
  height: 66px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 10px;

  // background-color: #eee;
  form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    div:nth-of-type(1) {
      flex-grow: 1;
    }
  }
}